#breadcrumbs {width: 740px;}
#sortpage {width: 405px;}
#page-footer { zoom: 1; }
#menu span { cursor: pointer; }
div.mod-rounded-templatecolor div.box-1 { overflow: hidden; }
.post dl.meta dd { line-height: 19px;}
.inputbuttons, .inputbuttons:hover, .inputbuttons:focus{height: 23px;line-height: 23px;}
.comments_id .topicheader {margin-top: -5px;}
.ie {overflow: hidden}
.mod-tabs {clear: both; margin-top: 15px;}
ul.links li a span.movie-name,ul.links li:hover a span.movie-name {*background:#000;}
