#sortpage {width: auto;}
#search-box {top: 0px;}
#sbsearch input{padding: 3px 11px 7px 11px;}
#search-box input.form-submit{top: 2px;}
.comments_id .topicheader {margin-top: -5px;}
.ie {overflow: inherit}
.mod-tabs {clear: both; margin-top: 5px; display: block;}
