<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Game/GFX theme by DLEStarter.com</title>

<script type="text/javascript">
<!--
function delayer(){
document.location = "http://www.dlestarter.com"
}
//-->
</script>
<style type="text/css">
body, html {
	background: #ccc;
	font: bold 16px Georgia, "Times New Roman", Times, serif;
	padding: 20px;
	margin: 0;
}
#wrapper {
	width: 500px;
	margin: auto;
	border: 4px solid #ddd;
	padding: 5px;
	text-align: center;
}
</style>
</head>

<body onLoad="setTimeout('delayer()', 10000)">

<div id="wrapper">
<span style="font-size: 24px; color: white;">Prepare to be redirected!</span>
<p>This theme is designed and downloaded from DLEStarter.com, so if you like this theme you can download it from www.dlestarter.com</p>
<p>Please wait while I am redirecting you!</p>
</div>
</body>
</html>



</body>
</html> 